fhir-server/node_modules/
fhir-server/package-lock.json

auth-server/node_modules/
auth-server/public/hot
auth-server/public/storage
auth-server/storage/*.key
auth-server/vendor
auth-server/.idea
auth-server/.env
auth-server/.env.backup
auth-server/.phpunit.result.cache
auth-server/Homestead.json
auth-server/Homestead.yaml
auth-server/npm-debug.log
auth-server/yarn-error.log